@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1558px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 576px) {
  .container {
    padding: 0 12px;
  }
}

.main {
  overflow: hidden;
}

.intro {
  margin: 63px 0 160px;
}
@media (max-width: 1024px) {
  .intro {
    margin: 48px 0 80px;
  }
}
@media (max-width: 576px) {
  .intro {
    margin: 40px 0 60px;
  }
}
.intro__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 72px;
}
@media (max-width: 1024px) {
  .intro__logo {
    margin: 0 0 48px;
  }
}
@media (max-width: 576px) {
  .intro__logo {
    margin: 0 0 40px;
  }
}
.intro__logo-image {
  display: block;
  max-width: 100%;
  width: 312px;
  height: auto;
}
@media (max-width: 576px) {
  .intro__logo-image {
    width: 230px;
  }
}
.intro__title {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 36px;
  line-height: 135%;
  text-align: center;
  color: #000;
}
@media (max-width: 1024px) {
  .intro__title {
    margin-bottom: 16px;
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .intro__title {
    margin-bottom: 12px;
    font-size: 16px;
  }
}
.intro__description {
  margin: 0 0 38px;
  font-weight: 500;
  font-size: 26px;
  line-height: 125%;
  text-align: center;
  color: #f430dd;
}
@media (max-width: 1024px) {
  .intro__description {
    margin-bottom: 30px;
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .intro__description {
    margin-bottom: 28px;
    font-size: 14px;
  }
}
.intro__singup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 32px;
}
@media (max-width: 1024px) {
  .intro__singup {
    margin-bottom: 20px;
  }
}
.intro__singup-button {
  display: inline-block;
  padding: 36px 44px;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: #fff;
  border: none;
  border-radius: 24px;
  -webkit-box-shadow: 0 20px 40px -20px rgba(95, 15, 68, 0.45);
          box-shadow: 0 20px 40px -20px rgba(95, 15, 68, 0.45);
  background: linear-gradient(135deg, #e458d0 0%, #e458d0 10%, #e583d9 20%, #e63cb2 70%, #e52ea8 100%);
  -webkit-transition-property: -webkit-box-shadow, -webkit-filter;
  transition-property: -webkit-box-shadow, -webkit-filter;
  transition-property: box-shadow, filter;
  transition-property: box-shadow, filter, -webkit-box-shadow, -webkit-filter;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .intro__singup-button {
    padding: 26px 40px;
    font-size: 20px;
  }
}
.intro__singup-button:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}
.intro__singup-button b {
  font-weight: 600;
}
.intro__disclaimer {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #808080;
}
@media (max-width: 1024px) {
  .intro__disclaimer {
    font-size: 14px;
  }
}

.big-update {
  margin: 160px 0;
}
@media (max-width: 1024px) {
  .big-update {
    margin: 80px 0;
  }
}
@media (max-width: 576px) {
  .big-update {
    margin: 60px 0;
  }
}
.big-update__heading {
  position: relative;
  padding: 80px;
  border-radius: 32px;
  -webkit-backdrop-filter: blur(44px);
          backdrop-filter: blur(44px);
  -webkit-box-shadow: 0 40px 130px -50px rgba(0, 0, 0, 0.05);
          box-shadow: 0 40px 130px -50px rgba(0, 0, 0, 0.05);
}
@media (max-width: 576px) {
  .big-update__heading {
    padding: 40px 22px;
  }
}
.big-update__heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  display: block;
  max-width: 1000px;
  width: 50dvw;
  aspect-ratio: 1/1;
  border-radius: 500px;
  background-color: #6843c4;
  opacity: 0.2;
  -webkit-transform: translate3d(-30%, 28%, 0);
          transform: translate3d(-30%, 28%, 0);
  -webkit-filter: blur(900px);
          filter: blur(900px);
}
.big-update__heading-title {
  margin: 0 0 24px;
  font-weight: 600;
  font-size: 44px;
  line-height: 135%;
  text-align: center;
  color: #ec28a8;
}
@media (max-width: 1024px) {
  .big-update__heading-title {
    font-size: 34px;
  }
}
@media (max-width: 576px) {
  .big-update__heading-title {
    font-size: 24px;
  }
}
.big-update__heading-description {
  max-width: 969px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 28px;
  line-height: 135%;
  text-align: center;
  color: #000;
}
@media (max-width: 1024px) {
  .big-update__heading-description {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .big-update__heading-description {
    font-size: 18px;
  }
}
.big-update__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  margin: 12px 0;
}
.big-update__main::before, .big-update__main::after {
  content: "";
  position: absolute;
  z-index: -2;
  display: block;
  max-width: 1000px;
  width: 50dvw;
  aspect-ratio: 1/1;
  border-radius: 500px;
  opacity: 0.2;
  -webkit-filter: blur(900px);
          filter: blur(900px);
}
.big-update__main::before {
  top: 0;
  right: 0;
  background-color: #ec28a8;
  -webkit-transform: translate3d(12%, 53%, 0);
          transform: translate3d(12%, 53%, 0);
}
.big-update__main::after {
  left: 0;
  bottom: 0;
  background-color: #07f5cd;
  -webkit-transform: translate3d(-16%, -100%, 0);
          transform: translate3d(-16%, -100%, 0);
}
.big-update__main-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 6px);
          flex: 0 0 calc(50% - 6px);
  padding: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 32px;
  -webkit-backdrop-filter: blur(44px);
          backdrop-filter: blur(44px);
  -webkit-box-shadow: 0 20px 110px -60px rgba(0, 0, 0, 0.15);
          box-shadow: 0 20px 110px -60px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1024px) {
  .big-update__main-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 40px;
  }
}
@media (max-width: 576px) {
  .big-update__main-card {
    padding: 28px;
  }
}
.big-update__main-card_lg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.big-update__main-card-title {
  margin: 0 0 28px;
  font-weight: 600;
  font-size: 25px;
  line-height: 128%;
  color: #000;
}
@media (max-width: 1024px) {
  .big-update__main-card-title {
    margin-bottom: 24px;
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .big-update__main-card-title {
    margin-bottom: 16px;
    font-size: 18px;
  }
}
.big-update__main-card_lg .big-update__main-card-title {
  margin: 0 0 32px;
}
@media (max-width: 1024px) {
  .big-update__main-card_lg .big-update__main-card-title {
    margin-bottom: 24px;
  }
}
@media (max-width: 576px) {
  .big-update__main-card_lg .big-update__main-card-title {
    margin-bottom: 24px;
  }
}
.big-update__main-card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 1040px;
  margin: 0 0 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #333;
}
@media (max-width: 1024px) {
  .big-update__main-card-text {
    margin-bottom: 40px;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .big-update__main-card-text {
    font-size: 14px;
  }
}
.big-update__main-card-media {
  display: block;
  width: 100%;
  aspect-ratio: 673/431;
  overflow: hidden;
  border-radius: 20px;
  background: url(../assets/update-media-bg.webp) center/cover no-repeat;
}
@media (max-width: 1024px) {
  .big-update__main-card-media {
    aspect-ratio: 334/220;
  }
}
.big-update__main-card-media-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1024px) {
  .big-update__main-card-media-figure {
    padding: 36px;
  }
}
@media (max-width: 576px) {
  .big-update__main-card-media-figure {
    padding: 20px;
  }
}
.big-update__main-card-media-figure_left, .big-update__main-card-media-figure_right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
}
.big-update__main-card-media-figure_left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.big-update__main-card-media-figure_right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.big-update__main-card-media-figure-image {
  display: block;
  max-height: 100%;
  max-width: 100%;
}
.big-update__main-card_lg .big-update__main-card-media {
  aspect-ratio: 1396/725;
}
@media (max-width: 1024px) {
  .big-update__main-card_lg .big-update__main-card-media {
    aspect-ratio: 334/220;
  }
}
.big-update__security {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 48px;
  padding: 100px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 32px;
  -webkit-backdrop-filter: blur(44px);
          backdrop-filter: blur(44px);
  -webkit-box-shadow: 0 30px 130px -50px rgba(0, 0, 0, 0.15);
          box-shadow: 0 30px 130px -50px rgba(0, 0, 0, 0.15);
  background: #fff;
}
@media (max-width: 1024px) {
  .big-update__security {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 36px;
    padding: 64px;
  }
}
@media (max-width: 576px) {
  .big-update__security {
    gap: 20px;
    padding: 42px;
  }
}
.big-update__security-icon {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
  width: 180px;
  height: auto;
  border-radius: 40px;
  -webkit-box-shadow: 0 20px 50px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 50px -10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1024px) {
  .big-update__security-icon {
    width: 136px;
    border-radius: 30px;
  }
}
@media (max-width: 576px) {
  .big-update__security-icon {
    width: 78px;
    border-radius: 20px;
  }
}
.big-update__security-text {
  font-weight: 600;
  font-size: 44px;
  line-height: 135%;
  text-align: left;
  color: #000;
}
@media (max-width: 1024px) {
  .big-update__security-text {
    font-size: 32px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .big-update__security-text {
    font-size: 18px;
  }
}

.explore {
  margin: 160px 0;
}
@media (max-width: 1024px) {
  .explore {
    margin: 80px 0;
  }
}
@media (max-width: 576px) {
  .explore {
    margin: 60px 0;
  }
}
.explore__title {
  margin: 0 0 60px;
  font-weight: 600;
  font-size: 48px;
  line-height: 135%;
  color: #000;
  text-align: center;
}
@media (max-width: 1024px) {
  .explore__title {
    margin-bottom: 48px;
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .explore__title {
    margin-bottom: 28px;
    font-size: 28px;
  }
}
.explore__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}
.explore__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 74px;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 32px;
  -webkit-backdrop-filter: blur(44px);
          backdrop-filter: blur(44px);
  -webkit-box-shadow: 0 20px 90px -50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 90px -50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1024px) {
  .explore__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    gap: 40px;
    padding: 28px;
  }
}
.explore__card_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 1024px) {
  .explore__card_reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.explore__card_vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 6px);
          flex: 0 0 calc(50% - 6px);
}
@media (max-width: 1024px) {
  .explore__card_vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.explore__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 37px);
          flex: 0 0 calc(50% - 37px);
  padding: 20px 0;
}
@media (max-width: 1024px) {
  .explore__card-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 0;
  }
}
.explore__card-info-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.explore__card-info-icon-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.explore__card-info-details-title {
  margin: 28px 0 20px;
  font-weight: 600;
  font-size: 25px;
  line-height: 125%;
  color: #000;
}
@media (max-width: 1024px) {
  .explore__card-info-details-title {
    margin: 32px 0 16px;
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .explore__card-info-details-title {
    font-size: 18px;
  }
}
.explore__card-info-details-paragraph {
  margin: 20px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #333;
}
@media (max-width: 1024px) {
  .explore__card-info-details-paragraph {
    margin: 16px 0 0;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .explore__card-info-details-paragraph {
    font-size: 14px;
  }
}
.explore__card-info-details-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.explore__card-info-details-list-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #333;
}
@media (max-width: 1024px) {
  .explore__card-info-details-list-item {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .explore__card-info-details-list-item {
    font-size: 14px;
  }
}
.explore__card-info-details-list-item::before {
  content: "• ";
  display: inline;
}
.explore__card_vertical .explore__card-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0;
}
.explore__card_vertical .explore__card-info-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.explore__card-screenshot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 37px);
          flex: 0 0 calc(50% - 37px);
}
.explore__card-screenshot-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.explore__card_vertical .explore__card-screenshot {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100%;
  aspect-ratio: 671/431;
  overflow: hidden;
  border-radius: 28px;
  background-color: #ffffff;
}
@media (max-width: 1024px) {
  .explore__card_vertical .explore__card-screenshot {
    display: none;
  }
}

.integration {
  margin: 160px 0;
}
@media (max-width: 1024px) {
  .integration {
    margin: 80px 0;
  }
}
@media (max-width: 576px) {
  .integration {
    margin: 60px 0;
  }
}
.integration__title {
  margin: 0 0 60px;
  font-weight: 600;
  font-size: 48px;
  line-height: 135%;
  color: #000;
  text-align: center;
}
@media (max-width: 1024px) {
  .integration__title {
    margin-bottom: 48px;
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .integration__title {
    margin-bottom: 28px;
    font-size: 28px;
  }
}
.integration__agents {
  padding: 60px 60px 80px;
  margin: 0 0 12px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 32px;
  -webkit-backdrop-filter: blur(44px);
          backdrop-filter: blur(44px);
  -webkit-box-shadow: 0 30px 130px -50px rgba(0, 0, 0, 0.15);
          box-shadow: 0 30px 130px -50px rgba(0, 0, 0, 0.15);
  background: #fff;
}
@media (max-width: 1024px) {
  .integration__agents {
    padding: 40px 40px 80px;
  }
}
@media (max-width: 576px) {
  .integration__agents {
    padding: 28px 28px 80px;
  }
}
.integration__agents-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  gap: 32px 28px;
  margin: 0 0 64px;
}
@media (max-width: 576px) {
  .integration__agents-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.integration__agents-heading-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.integration__agents-heading-icon-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.integration__agents-heading-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  max-width: 510px;
}
.integration__agents-heading-info-title {
  font-weight: 600;
  font-size: 21px;
  line-height: 143%;
  color: #000;
}
@media (max-width: 576px) {
  .integration__agents-heading-info-title {
    font-size: 18px;
  }
}
.integration__agents-heading-info-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  color: #ec28a8;
}
.integration__agents-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 70px;
}
@media (max-width: 1024px) {
  .integration__agents-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.integration__agents-info-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 598px;
          flex: 0 1 598px;
}
@media (max-width: 1024px) {
  .integration__agents-info-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.integration__agents-info-item-title {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #333;
}
@media (max-width: 576px) {
  .integration__agents-info-item-title {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #333;
  }
}
.integration__agents-info-item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.integration__agents-info-item-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #333;
}
@media (max-width: 576px) {
  .integration__agents-info-item-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #333;
  }
}
.integration__agents-info-item-list-item::before {
  content: "• ";
  display: inline;
}
.integration__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}
.integration__advantages-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 6px);
          flex: 0 0 calc(50% - 6px);
  padding: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 32px;
  -webkit-backdrop-filter: blur(44px);
          backdrop-filter: blur(44px);
  -webkit-box-shadow: 0 30px 130px -50px rgba(0, 0, 0, 0.15);
          box-shadow: 0 30px 130px -50px rgba(0, 0, 0, 0.15);
  background: #fff;
}
@media (max-width: 1024px) {
  .integration__advantages-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 40px;
  }
}
@media (max-width: 576px) {
  .integration__advantages-item {
    padding: 28px;
  }
}
.integration__advantages-item-title {
  margin: 0 0 40px;
  font-weight: 600;
  font-size: 21px;
  line-height: 143%;
  color: #000;
}
@media (max-width: 576px) {
  .integration__advantages-item-title {
    margin-bottom: 28px;
    font-size: 18px;
  }
}
.integration__advantages-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #333;
}
@media (max-width: 576px) {
  .integration__advantages-item-text {
    font-size: 14px;
  }
}

.security {
  margin: 160px 0 20px;
}
@media (max-width: 1024px) {
  .security {
    margin: 80px 0 20px;
  }
}
@media (max-width: 576px) {
  .security {
    margin: 60px 0 30px;
  }
}
.security__title {
  margin: 0 0 60px;
  font-weight: 600;
  font-size: 48px;
  line-height: 135%;
  color: #000;
  text-align: center;
}
@media (max-width: 1024px) {
  .security__title {
    margin-bottom: 48px;
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .security__title {
    margin-bottom: 28px;
    font-size: 28px;
  }
}
.security__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px 10px;
}
.security__advantages-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 7.5px);
          flex: 0 0 calc(25% - 7.5px);
  padding: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 32px;
  -webkit-backdrop-filter: blur(44px);
          backdrop-filter: blur(44px);
  -webkit-box-shadow: 0 30px 130px -50px rgba(0, 0, 0, 0.15);
          box-shadow: 0 30px 130px -50px rgba(0, 0, 0, 0.15);
  background: #fff;
}
@media (max-width: 1200px) {
  .security__advantages-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 5px);
            flex: 0 0 calc(50% - 5px);
  }
}
@media (max-width: 1024px) {
  .security__advantages-card {
    padding: 40px;
  }
}
@media (max-width: 576px) {
  .security__advantages-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 28px;
  }
}
.security__advantages-card-icon {
  margin: 0;
}
.security__advantages-card-icon-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.security__advantages-card-title {
  margin: 72px 0 40px;
  font-weight: 600;
  font-size: 21px;
  line-height: 143%;
  color: #000;
}
@media (max-width: 1024px) {
  .security__advantages-card-title {
    margin: 40px 0 24px;
  }
}
@media (max-width: 576px) {
  .security__advantages-card-title {
    margin: 28px 0 18px;
    font-size: 18px;
  }
}
.security__advantages-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #333;
}
@media (max-width: 576px) {
  .security__advantages-card-text {
    font-size: 14px;
  }
}
.security__singup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 120px 0 32px;
}
@media (max-width: 1024px) {
  .security__singup {
    margin: 80px 0 20px;
  }
}
.security__singup-button {
  display: inline-block;
  padding: 36px 44px;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: #fff;
  border: none;
  border-radius: 24px;
  -webkit-box-shadow: 0 20px 40px -20px rgba(95, 15, 68, 0.45);
          box-shadow: 0 20px 40px -20px rgba(95, 15, 68, 0.45);
  background: linear-gradient(135deg, #e458d0 0%, #e458d0 10%, #e583d9 20%, #e63cb2 70%, #e52ea8 100%);
  -webkit-transition-property: -webkit-box-shadow, -webkit-filter;
  transition-property: -webkit-box-shadow, -webkit-filter;
  transition-property: box-shadow, filter;
  transition-property: box-shadow, filter, -webkit-box-shadow, -webkit-filter;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .security__singup-button {
    padding: 26px 40px;
    font-size: 20px;
  }
}
.security__singup-button:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}
.security__singup-button b {
  font-weight: 600;
}
.security__disclaimer {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #808080;
}
@media (max-width: 1024px) {
  .security__disclaimer {
    font-size: 14px;
  }
}

.footer {
  padding: 100px 0;
}
@media (max-width: 1024px) {
  .footer {
    padding: 64px 0;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 50px 0;
  }
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 96px;
}
@media (max-width: 1200px) {
  .footer__wrapper {
    gap: 48px;
  }
}
@media (max-width: 1024px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.footer__info-name, .footer__info-address {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #202020;
}
@media (max-width: 1024px) {
  .footer__info-name, .footer__info-address {
    text-align: center;
  }
}
.footer__info-name {
  font-weight: 600;
}
.footer__info-address {
  font-weight: 400;
}
.footer__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 28px;
}
.footer__partners-logo {
  display: block;
  max-width: 100%;
  height: 24px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}
@media (max-width: 1024px) {
  .footer__social {
    padding-top: 32px;
  }
}
.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.footer__social-link-icon {
  display: block;
  max-width: 100%;
  height: auto;
}