.first-screen {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    z-index: 100;
    height: 40%;
    background: linear-gradient(180deg, rgba($color: #ffffff, $alpha: 0) 0%, #fff 60%);
  }

  &__video {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}
